@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
    .vh-1 {
        height: 10vh;
    }

    .vh-2 {
        height: 20vh;
    }

    .vh-3 {
        height: 30vh;
    }

    .vh-4 {
        height: 40vh;
    }

    .vh-5 {
        height: 50vh;
    }

    .vh-6 {
        height: 60vh;
    }

    .vh-7 {
        height: 70vh;
    }

    .vh-8 {
        height: 80vh;
    }

    .vh-9 {
        height: 90vh;
    }

    .vw-1 {
        width : 10vw;
    }

    .vw-2 {
        width: 20vw;
    }

    .vw-3 {
        width: 30vw;
    }

    .vw-4 {
        width: 40vw;
    }

    .vw-5 {
        width: 50vw;
    }

    .vw-6 {
        width: 60vw;
    }

    .vw-7 {
        width: 70vw;
    }

    .vw-8 {
        width: 80vw;
    }

    .vw-9 {
        width: 90vw;
    }
}