@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Geomanist;
  src: url("/fonts/Geomanist-Regular.woff");
}

.Geomanist * {
  font-family: Geomanist;
}

.Googlesans * {
  font-family: 'Google Sans', sans-serif;
}

.Calibri * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
