@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Geomanist;
  src: url("/fonts/Geomanist-Regular.woff");
}

@font-face {
  font-family: Googlesans;
  src: url("/fonts/GoogleSans-Regular.ttf");
}

.Geomanist * {
  font-family: Geomanist;
}

.Googlesans * {
  font-family: Googlesans;
}

.Calibri * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
