---
{
'title' : 'Rahul Gupta',
}
---

<div class="container mx-auto space-y-5 mt-10 px-6 md:px-3 flex-1">
  <div>
    <p class="text-3xl text-center">Contact</p>
    <p class="text-center text-xs text-blue-500">Connect with me</p>
  </div>
  <div class="grid md:grid-cols-3 gap-10">
    <p>this page is still in development</p>
  </div>
</div>