---
{
'title' : 'Rahul Gupta',
}
---

<div class="h-full flex flex-col justify-center space-y-5">
  <div class="w-32 rounded-full aspect-square bg-blue-300 mx-auto md:hidden"></div>

  <div>
    <h1 class="md:text-9xl text-5xl px-2 md:px-0">RAHUL GUPTA</h1>
    <p class="md:tracking-widest md:text-lg px-2">FULL STAKE DEVELOPER & DATA SCIENTIST</p>
  </div>
  
  <p class="px-2 text-sm">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias enim quia libero quod praesentium cum, quidem
    doloribus at placeat. Hic repellendus quibusdam quidem mollitia ratione ducimus harum nemo sit necessitatibus
    tenetur quia, nobis sed doloremque impedit nihil, ipsum molestias iure neque vitae incidunt, fugiat praesentium
    voluptas! Doloremque tempore laudantium dolorum!
    <!-- <div class="flex gap-5 flex-wrap select-none pl-2">
      <img class="w-6" src="img/icon/git.png" />
      <img class="w-6" src="img/icon/html-5.png" />
      <img class="w-6" src="img/icon/css3.png" />
      <img class="w-6" src="img/icon/javascript.png" />
      <img class="w-6" src="img/icon/node-js.png" />
      <img class="w-6" src="img/icon/react.png" />
      <img class="w-6" src="img/icon/python.png" />
      <img class="w-6" src="img/icon/jupyter.png" />
    </div> -->
  </p>

  <div class="flex gap-5 flex-wrap select-none pl-2">
    <img class="bg-white rounded-full p-2 w-12 shadow-md" src="img/icon/github.png" />
    <img class="bg-white rounded-full p-2 w-12 shadow-md" src="img/icon/linkedin.png" />
    <img class="bg-white rounded-full p-2 w-12 shadow-md" src="img/icon/twitter.png" />
  </div>
</div>