---
{
'title' : 'Rahul Gupta',
}
---

<div class="container mx-auto space-y-5 mt-10 px-6 md:px-3 flex-1">
  <div>
    <p class="text-3xl text-center">Porjects</p>
    <p class="text-center text-xs text-blue-500">Projects that i have made</p>
  </div>
  <div class="grid md:grid-cols-3 gap-10">
    <% site.data.projects.slice(0,3).forEach(project => { %>
      <div class="w-full border rounded-lg cursor-default">
        <img src="img/projects/<%- project.img %>" class="aspect-video" alt="">
        <div class="flex justify-between px-4">
          <p class="uppercase font-bold"><%- project.name %></p>
          <p><%- project.created %></p>
        </div>
      </div>
    <% }) %>
  </div>
</div>