<header id="header">
  <div id="navbar" class="fixed top-0 left-0 w-full bg-white rounded-b">
    <div class="flex justify-between container mx-auto px-6 py-2 text-indigo-500 items-center">
      <a href="<%- page.srcfix %>" class="text-xl">RAHUL1115</a>
      <nav class="hidden md:flex space-x-8">
        <a href="<%- page.srcfix %>" class="font-semibold text-sm">HOME</a>
        <a href="<%- page.srcfix %>projects" class="font-semibold text-sm">PORJECTS</a>
        <a href="<%- page.srcfix %>articles" class="font-semibold text-sm">ARTICLS</a>
      </nav>
    </div>
  </div>
</header>