<header>
  <div class="flex w-full container mx-auto justify-between">
    <a href="<%- page.srcfix %>">picogen</a>
    <nav class="flex space-x-5">
      <a href="<%- page.srcfix %>">home</a>
      <a href="<%- page.srcfix %>posts.html">posts</a>
    </nav>
  </div>
</header>