<div class="flex flex-col h-full justify-center items-center space-y-8">
  <img src="img/rahul.jpg" class="w-28 aspect-square bg-white rounded-full"></img>
  <div class="flex flex-col items-center space-y-3">
    <a href="<%- page.srcfix %>">About</a>
    <a href="<%- page.srcfix %>projects">Projects</a>
    <a href="<%- page.srcfix %>articles">Articles</a>
    <a href="<%- page.srcfix %>contact">Contact</a>
  </div>
</div>